/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Variables */
:root,
:root.light {
  --color-1: #e5e7eb;
  --color-2: #f5f5f5;
  --color-3: #181818;
  --color-4: #dcdcdc;
  --color-5: #f0f0f0;
  --color-6: #00000050;
}

:root,
:root.dark {
  --color-1: #565656;
  --color-2: #181818;
  --color-3: #e5e7eb;
  --color-4: #252628;
  --color-5: #1c1c1e;
  --color-6: #ffffff50;
}

body {
  position: relative;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background: linear-gradient(
    220.55deg,
    var(--color-1) 0%,
    var(--color-2) 100%
  );
  transition: 0.3s;
}

main {
  position: absolute;
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--color-3) 1px, transparent 1px);
  background-size: 16px 16px;
  mask-image: radial-gradient(
    ellipse at 50% 50%,
    var(--color-2) 80%,
    transparent 100%
  );
  transition: 0.3s;
}

article {
  background: var(--color-4);
  border-radius: 0.5rem;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.55));
  max-width: 475px;
  transition: 0.3s;

  & header {
    text-align: right;
    padding: 1.5rem;
    background: var(--color-5);
    transition: 0.3s;

    & .scheme-selector {
      text-align: left;
      color: var(--color-3);
    }

    & .previous-operand {
      color: var(--color-6);
      font-size: 2rem;
      min-height: 85px;
      overflow: hidden;
    }

    & .current-operand {
      color: var(--color-3);
      font-weight: bold;
      margin-top: 1rem;
      font-size: 3rem;
      min-height: 64px;
      overflow: hidden;
    }
  }

  & .line {
    width: 100%;
    height: 3px;
    background: var(--color-6);
  }

  & .buttons {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    font-weight: bold;

    & button {
      font-size: 30px;
      display: grid;
      place-content: center;
      padding: 2rem;
      background: var(--color-2);
      color: var(--color-3);
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background: #2f2f2f;
        filter: none;
        scale: 1.05;
      }
      &:active {
        transform: scale(0.95);
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1) inset;
        transition: none;
      }
    }

    & :first-child {
      grid-column: 1 / span 2;
    }
    & :last-child {
      grid-column: 3 / span 2;
      background: #1976d2;

      &:hover {
        background: #1e88e5;
      }
    }
  }
}

.scheme-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle {
  background-color: #607d8b;
  color: #607d8b;
  visibility: hidden;
}

.toggle_label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
}

.slider {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border: 3px solid var(--color-5);
  background: var(--color-5);
  content: "";
  height: 13px;
  width: 13px;
  right: 10px;
  left: 7px;
  top: 7px;
  position: absolute;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
